@charset "utf-8";

body {
	color: #2e2e2e;
	font-family: 'IBM Plex Sans', sans-serif;
	
	margin: 30px auto;
	padding: 0;
	width: 900px;
}

h1, h2, h3 {
	font-family: 'IBM Plex Serif', serif;
}

h3 {
	font-size: 14px;
	margin-top: 50px;
}

em {
	font-family: 'IBM Plex Serif', serif;   
}

a {
	color: #2e2e2e;
	text-decoration: none;
}

li {
	padding: 5px 0;
}

.url {
	background: #e7e7e7;
	border-radius: 3px;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 12px;
	padding: 5px 10px;
}

.institutions, .information {
	font-size: 12px;
}

.acknowledgement {
	font-size: 10px;
}

b {
	border-radius: 3px;
	display: inline-block;    
	font-size: 12px;
	margin: 0 5px 0 0;
	min-width: 75px;
	padding: 5px 10px;
	text-align: center;
}

b.label-black {
	background: #2e2e2e;
	color: #fff;
}

b.label-purple {
	background: #6d7bd5;
	color: #fff;
}

b.label-green {
	background: #76d669;
}

b.label-yellow {
	background: #e6cf38;
}

b.label-red {
	background: #d56d7b;
	color: #fff;
}

b.label-light {
	background: #6dc9d5;
	color: #fff;
}

b.label-blue {
	background: #27b0fa;
	color: #fff;
}

.copyright {
	font-family: 'IBM Plex Serif', serif;   
	font-size: 10px;
	margin: 50px 0 50px;
}

.diagram {
	padding: 20px 0 10px;
	text-align: center;
}

table {
	border-bottom: #bbb solid 2px;
	border-top: #bbb solid 2px;
	font-family: 'IBM Plex Serif', serif;
	font-size: 14px;
	margin: 0 auto;
}

table th {
	padding: 5px 5px;
	border: none;
	border-bottom: #bbb solid 1px;
}

table em {
	font-size: 12px;
	color: #888;
}

table td {
	padding: 3px 5px;
	width: 120px;
}

table td.numeric {
	width: 50px;
}

table td.versus {
	width: 10px;
}

table td.right {
	text-align: right;
}

table td.left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.soon, .conference {
	font-family: 'IBM Plex Sans', sans-serif;
	font-style: normal;
	font-size: 10px;
	font-weight: bold;
	border: #bbb dotted 1px;
	border-radius: 3px;
	padding: 5px 5px;
}

.conference {
	float: right;;
}